{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About</h2>
        <ol>
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li>About</li>
        </ol>
      </div>

    </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <!-- ======= team Section ======= -->
  <section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h2>Our Team</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/Alex.png')}}" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4>Alex Carite</h4>
              <span>Mountain View, CA</span>
              <span><a href="mailto:alex.carite@ischool.berkeley.edu">alex.carite@ischool.berkeley.edu</a></span>
              <div class="social">
                <a href="https://www.linkedin.com/in/alex-carite/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/Oscar.jpg')}}" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4>Oscar Linares</h4>
              <span>San Francisco, CA</span>
              <span><a href="mailto:oscar.linares@ischool.berkeley.edu">oscar.linares@ischool.berkeley.edu</a></span>
              <div class="social">
                <a href="https://www.linkedin.com/in/oscarlinaresleon/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/Sybil.jpg')}}" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4>Sybil Santos-Burgan</h4>
              <span>Chicago, IL USA</span>
              <span><a href="mailto:sybilsantosburgan@berkeley.edu">sybilsantosburgan@berkeley.edu</a></span>
              <div class="social">
                <a href="https://www.linkedin.com/in/sybil-santos-burgan/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End team Section -->


  <section id="keenan" class="team">
    <div class="container">

      <div class="section-title">
        <h2>Keenan Group</h2>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="member">
            <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/Maoya.png')}}" class="img-fluid"
                alt=""></div>
            <div class="member-info">
              <h4>Maoya Bassiouni</h4>
              <span>Postdoctoral Researcher</span>
              <span><a href="mailto:maoya@berkeley.edu">maoya@berkeley.edu</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="member">
            <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/Profile_Yanghui.jpg')}}"
                class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Yanghui Kang</h4>
              <span>Postdoctoral Researcher</span>
              <span><a href="mailto:yanghuikang@berkeley.edu">yanghuikang@berkeley.edu</a></span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p>
          We would like to extend our sincere gratitude to the research scientists Yanghui Kang and Maoya Bassiouni, of
          the <a href="https://www.keenangroup.info/" target="_blank"><span>Keenan Group</span></a> - Quantitative
          Ecosystem Dynamics Lab at UC Berkeley. Their invaluable ideas and insights
          were
          instrumental in the development of our web application, CarbonTrack - Visualizing Artificial Intelligence
          Upscaled Ecosystem Dynamics. Their expertise and guidance were critical in shaping the direction of our
          project
          and ensuring its success. We are grateful for their generous contribution of time, knowledge, and expertise,
          which helped us to develop a high-quality tool that will benefit the scientific community and beyond.
        </p>
        <p>
          We are particularly grateful to Yanghui Kang. CarbonTrack is powered by her work on the CEDAR Project. Her
          research focuses on the generation of a global GPP dataset that incorporates direct CO2 fertilization to
          improve
          the estimation of long-term dynamics. By leveraging machine learning and satellite data to upscale eddy
          covariance GPP measurements, CEDAR datasets differentiate themselves by incorporating CO2 fertilization
          effects
          with a data-driven approach and biophysical theories.
        </p>
      </div>
    </div>
  </section><!-- End team Section -->
  <section class="technology">
    <div class="container">
      <div class="section-title">
        <h2>Join Us!</h2>
      </div>
      <div class="row">
        If you are interested in displaying your dataset in CarbonTrack please contact any member of our team.
      </div>
    </div>
  </section>


  <section class="Reference">
    <div class="container">
      <div class="section-title">
        <h2>References</h2>
        <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae
            autem.</p> -->
      </div>
      <div class="row">
        <ul>
          <li><a href="https://www.noaa.gov/education/resource-collections/climate/carbon-cycle">NOAA. “Carbon
              Cycle.”</a> NOAA.gov, National Oceanic and Atmospheric Administration, 2021.</li>
          <li><a href="https://oceanservice.noaa.gov/facts/carbon-cycle.html">NOAA. “The Carbon Cycle.”</a> National
            Ocean Service, 2021.</li>
          <li><a href="https://www.un.org/en/climatechange/science/climate-issues/land">United Nations. “Land.”</a>
            UNFCCC, United Nations, 2021.</li>
          <li><a
              href="https://www.nature.com/scitable/knowledge/library/terrestrial-primary-production-fuel-for-life-17567411/">Vitousek,
              Peter M., et al. “Terrestrial Primary Production and Environmental Change.”</a> Nature Education
            Knowledge, vol. 3, no. 10, 2012.</li>
          <li><a href="https://www.wwf.org.uk/learn/effects-of/deforestation">WWF. “Deforestation: Overview.”</a> World
            Wildlife Fund UK, 2021.</li>
          <li><a href="https://doi.org/10.1038/s41598-022-23120-0">Yang, Jie, et al. “Comprehensive Assessment of
              Anthropogenic Carbon Perturbation on the Global Carbon Cycle.”</a> Scientific Reports, vol. 12, no. 1,
            2022.</li>
        </ul>
      </div>

    </div>
  </section>

</main><!-- End #main -->
{% endblock %}