{% extends "layout.html" %}
{% block title %}
Analysis
{% endblock %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Analysis of GPP, NPP</h2>
        <ol>
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li>Analysis</li>
        </ol>
      </div>

    </div>
  </section>
  <!-- End Breadcrumbs Section -->

  <section id="climate" class="climate">
    <div class="container">

      <div class="section-title">
        <h2>Analysis of GPP, NPP</h2>

      </div>

      <div class="events-slider swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide" data-swiper-autoplay="15000">
            <div class="row climate-item">
              <div class="col-lg-6">
                <img src="../static/assets/img/co2/AdobeStock_343913531.jpeg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Aenean fringilla congue nis</h3>

                <ul>
                  <li><i class="bi bi-check-circle"></i> Etiam augue eros
                  </li>
                  <li><i class="bi bi-check-circle"></i> CSuspendisse massa lacus
                  </li>
                  <li><i class="bi bi-check-circle"></i> Maecenas pharetra, mauris nec iaculis mattis, metus dui
                    interdum quam, eu consequat ipsum lectus eget nulla. Integer mollis eros nisi, sit amet aliquet
                    metus ornare sit amet. Suspendisse tincidunt luctus laoreet. Donec vitae lectus blandit, luctus
                    quam non, malesuada tellus. Donec ac gravida arcu.
                  </li>
                </ul>
                <p>

                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="row climate-item">
              <div class="col-lg-6">
                <img src="../static/assets/img/co2/AdobeStock_243942975.jpeg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Aliquam vitae mollis</h3>
                <p class="fst-italic">

                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Etiam augue eros
                  </li>
                  <li><i class="bi bi-check-circle"></i> CSuspendisse massa lacus
                  </li>
                  <li><i class="bi bi-check-circle"></i> Maecenas pharetra, mauris nec iaculis mattis, metus dui
                    interdum quam, eu consequat ipsum lectus eget nulla. Integer mollis eros nisi, sit amet aliquet
                    metus ornare sit amet. Suspendisse tincidunt luctus laoreet. Donec vitae lectus blandit, luctus
                    quam non, malesuada tellus. Donec ac gravida arcu.
                  </li>
                </ul>
                <p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>


</main><!-- End #main -->
{% endblock %}