{% extends "layout.html" %}
{% block title %}
Conclusion
{% endblock %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Key Findings</h2>
        <ol>
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <li>Key Findings</li>
        </ol>
      </div>

    </div>
  </section>
  <!-- End Breadcrumbs Section -->
  
  
  <!-- KEY FINDING 1-->
  <section class="summary">
    <div class="container-fluid">

      <div class="row align-items-center flex-wrap-nowrap">
        <div class="col-lg-5">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/assets/img/cedar_2001_2020_yearTrend.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/assets/img/modis_2001_2020_yearTrend.png" class="d-block w-100" alt="...">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <div class="section-title">
              <h2><span>Yearly Trends</span></h2>
            </div>
            <p>Looking at the area around Bolivia, Modis model estimates a large increase in GPP from 2001-2020
               while the CEDAR ML Model shoes very minimal increase. 
            </p>

            <p>
              Discrepancies such as these are crucial in understanding the work that still needs to be done in this area. 
              The CEDAR models differ from MODIS as they created models using direct CO2 fertilization effects. 
              This additional model input clearly estimates GPP differently. With these models just being estimates, 
              this figure should help further the call to action to continue to build flux towers and obtain more accurate 
              GPP metrics to improve models such as these.
            </p>

          </div>

        </div>
      </div>



      
      <!-- KEY FINDING 2-->
      <div class="row align-items-center flex-wrap-nowrap" style="padding-top: 50px;">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <div class="section-title">
              <h2><span>Modis vs CEDAR ML</span></h2>
            </div>
            <p>
              Using CarbonTrack’s model comparison feature, we are able to highlight areas on the map where two models estimate 
              GPP very differently. With the limited amount of flux towers in the region, it is impossible to know the true GPP 
              values and thus determine which modeling technique predicts closest to the true value. This helps shine a light on 
              a big issue in the field - with limited amount of flux towers in the world, GPP modeling and upscaling has a very 
              low accuracy ceiling. With more flux towers around more diverse regions, the models could be much more performant, 
              providing researchers with accurate GPP estimates as we continue our fight in climate change.
            </p>

          </div>

        </div>
      
        <div class="col-lg-5">
          <div id="carouselExample2" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/assets/img/modis_cedar_2020_brazil.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/assets/img/modis_cedar_2020_nepal.png" class="d-block w-100" alt="...">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>


      </div>

      <!-- KEY FINDING 3-->
      <div class="row align-items-center flex-wrap-nowrap" style="padding-top: 50px;">

        <div class="col-lg-5 align-items-stretch video-box"
          style='background-image: url("../static/assets/img/four_map.png");'>
        </div>



        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <div class="section-title">
              <h2><span>Model Comparison Time-series Analysis</span></h2>
            </div>
            <p>
              The figure to the right shows time-series analysis of South America, comparing four 
              models using the Multi Map functionality. While the three CEDAR model variations show a similar downward trend,
              the MODIS model shows almost no change in GPP over the 2015 to 2020 time range.
            </p>

          </div>

        </div>

      </div>

      <!-- KEY FINDING 4-->
      <div class="row align-items-center flex-wrap-nowrap" style="padding-top: 50px;">
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <div class="section-title">
              <h2><span>A Tale of Two Decades</span></h2>
            </div>
            <p>
              CarbonTrack’s Yearly Trend feature helps policy makers see GPP trends in their region overtime. 
              This figure is showing the differences between 2001-2010 and 2011-2020 which highlights huge 
              difference we can see in GPP change in just two decades.
            </p>

          </div>

        </div>
      
        <div class="col-lg-5">
          <div id="carouselExample4" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/assets/img/cedar_ml_2001_2010.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/assets/img/cedar_ml_2011_2020.png" class="d-block w-100" alt="...">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>


      </div>

       <!-- KEY FINDING 5-->
      <div class="row align-items-center flex-wrap-nowrap">
        <div class="col-lg-5">
          <div id="carouselExample5" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/assets/img/modis_cedar_nile.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../static/assets/img/modis_cedar_amazon.png" class="d-block w-100" alt="...">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <div class="section-title">
              <h2><span>Yearly Trends</span></h2>
            </div>
            <p>
              The Model Comparison feature again provides a look into how the MODIS’ satellite imagery based 
              model differs from CEDAR’s model with direct CO2 fertilization effects. The image here shows the 
              drastic estimation differences around large river sources, the Nile and Amazon rivers. 
            </p>

          </div>

        </div>
      </div>
      

    </div> 
  </section>


  <!-- End investigation-processing Section -->
  <section class="summary analyzegpp">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          <div class="content" style="color:#FFFFFF;font-family: 'Poppins', sans-serif;">
            <div class="section-title">
              <h2>Call to <span>Action</span></h2>
            </div>
            <div>
              <p style="color:#FFFFFF;padding-bottom:12px; font-size:16px">
                These examples are just a glimpse at some of the insights which can be gained through the use of 
                CarbonTrack. While these insights are certainly something to celebrate, we believe that the work is
                just beginning. The discrepancies between the models is something to take note of and should motivate 
                more researchers to continue to build more sophisticated GPP models. Additionally, these insights 
                should motivate climate researchers and policy makers to build more flux towers across the globe to obtain
                 more accurate GPP measurements so that models can be trained on rich and contextual GPP data.
              </p>
            </div>
          </div>

        </div>
        <div class="col-lg-5 align-items-stretch video-box"
          style='background-image: url("../static/assets/img/co2/AdobeStock_226126217.jpeg");'>
        </div>
      </div>

    </div>
  </section>
  <!-- ======= Call to Action ======= -->
  <section id="study-gpp" class="analyzegpp" style="display:none">
    <div class="container">

      <div class="section-title">
        <h2>Call to <span>Action</span></h2>
      </div>

      <div class="events-slider swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row analyzegpp-item">
              <div class="col-lg-6">
                <img src="../static/assets/img/co2/AdobeStock_243942975.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Integer mollis eros nisi</h3>
                <p>
                  Maecenas pharetra, mauris nec iaculis mattis, metus dui interdum quam, eu consequat ipsum lectus eget
                  nulla. Integer mollis eros nisi, sit amet aliquet metus ornare sit amet. Suspendisse tincidunt luctus
                  laoreet. Donec vitae lectus blandit, luctus quam non, malesuada tellus. Donec ac gravida arcu. Orci
                  varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec turpis
                  convallis, feugiat mi id, tincidunt nisl.
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide" data-swiper-autoplay="10000">
            <div class="row analyzegpp-item">
              <div class="col-lg-6">
                <img src="../static/assets/img/co2/canopyriver.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Donec vitae lectus blandit</h3>
                <p>
                  These examples are just a glimpse at some of the insights which can be gained through the use of 
                  CarbonTrack. While these insights are certainly something to celebrate, we believe that the work is
                  just beginning. The discrepancies between the models is something to take note of and should motivate 
                  more researchers to continue to build more sophisticated GPP models. Additionally, these insights 
                  should motivate climate researchers and policy makers to build more flux towers across the globe to obtain
                   more accurate GPP measurements so that models can be trained on rich and contextual GPP data.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Analyze Section -->

</main><!-- End #main -->
{% endblock %}